body {
    margin: 0;
    font-family: Poppins, Arial, sans-serif; /* Change font to Poppins */
    color: #333;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.profile-header a {
    color: #ffd700;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-header a:hover {
    background-color: #ffd700;
    color: #333;
}

button {
    background-color: #ffd700;
    color: #333;
    border: none;
    padding: 15px 30px; /* Increased padding */
    font-size: 18px; /* Increased font size */
    cursor: pointer;
    border-radius: 10px; /* Slightly bigger border radius */
    transition: background-color 0.3s ease;
    font-family: Poppins, Arial, sans-serif; /* Change font to Poppins */
}

.image-container {
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    width: 814px;
    height: 396px;
    flex-shrink: 0;
    border-radius: 140px;
    border: 10px solid #9F3900;
    background: url('../images/ceres1.gif') lightgray 50% / cover no-repeat;
}

.button-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: center;
}

.circle-button {
    width: 70px; /* Increased button size */
    height: 70px; /* Increased button size */
    border-radius: 50%;
    background-color: #FF6347; /* Change button color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px; /* Adjust spacing */
    cursor: pointer;
    fill: #FFB800;
    /* Fill color */
    stroke-width: 5px;
    /* Stroke width */
    stroke: #000;
    /* Stroke color */
}

.circle-button-text {
    font-family: Poppins, Arial, sans-serif; /* Change font to Poppins */
    font-size: 14px; /* Adjust font size */
    color: white;
    margin-top: 5px;
    text-align: center;
}
.ceres-button {
    position: absolute;
    top: 60px;
    right: 20px;
    /* Adjust top and right values as needed */
    width: 327px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid var(--Colors-Black, #000);
    background: var(--Colors-White, #FFF);
    box-shadow: 0px 6px 0px 0px #18191F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ceres-content {
    width: 279px;
    color: var(--Colors-Black, #000);
    text-align: center;
}

.ceres-content h2 {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 10px;
}

.ceres-content p {
    color: var(--Colors-Black-800, #474A57);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
}

.ceres-content button {
    width: 279px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #FF6A16;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ceres-content button:hover {
    background-color: #FF893D;
}
